* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.937);
}
/**************** HEADER ****************/
.navbar {
    background-color: rgba(0, 0, 0, 0.937);
    margin-bottom: 3rem;
}

.logoNav {
    color: aliceblue;
    font-size: 2rem;
    margin-left: 3rem;
    font-weight: 600;
}

.iconoNav {
    color: #0169FE;
    font-size: 2rem;
    margin-left: 2rem;
}

.botonNav {
    color: #0169FE;
    border: #0169FE 1px solid;
    margin-right: 3rem;
}
/**************** TARJETAS ****************/
.sobreImagen {
    background: linear-gradient(180deg, #0169FE 0%, rgba(1, 105, 254, 0.45) 0.01%, rgba(1, 105, 254, 0.75) 100%);
    transition: background 0.5s;

}

.sobreImagen:hover {
    background: rgba(238, 4, 4, 0);

}

.tarjetas {
    margin: 2rem;
    z-index: -1;
}
/**************** INFORMACION ****************/
.containerInfo {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    justify-content: space-between;
    margin: 4rem;
    margin-left: 4rem;
}

.logo {
    font-size: 4rem;
    color: aliceblue;
}

.info {
    display: flex;
    color: white;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 4rem;
}

.icono {
    color: #0169FE;
    margin-left: -6rem;
    font-size: 3rem;
    position: absolute;
    text-decoration: none;

}

.subTitulo {
    font-size: 1.5rem;
}
/**************** FORMULARIO ****************/
.formulario{
    margin-top: 5rem;
}
.inputContainer {
    margin: 0.5rem;
}

.inputs {
    font-size: 1rem;
    color: white;
    background-color: black;
    border: #0169FE 1px solid;
    margin-bottom: 2rem;
    width: 17rem;
    height: 2.5rem;

}
.textarea{
    color: white;
    background-color: black;
    border: #0169FE 1px solid;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
::placeholder{
    color: #0169FE;
    text-align: justify;
    
}
.boton {
    width: 50%;
    margin-left: 8rem;
    margin-bottom: 3rem;
}

/**************** FOOTER ****************/
.navbarFooter {
    background-color: #0169FE;
    margin-top: 2rem;
}

.iconoFooter {
    color: aliceblue;
    font-size: 2rem;
    margin-left: 2rem;
    outline:none;
}
.botonFooter{
    color: aliceblue;
    border: aliceblue 1px solid;
    margin-right: 3rem; 
}
